---
---

// Variable overrides
@import "variables";
@import "bootstrap";

// Components
@import "components/nav/style";
@import "components/footer/style";

ol, ul {
  padding-left: 15px;
}

.navbar {
  box-shadow: 1px 1px 50px #816b8429;
}

.active {
  border-bottom: 1px solid #818dac70;
}

.bg-image, .bg-image-solar, .bg-image-wind {
  background-position: 50%;
  background-size: cover;
  padding: 2rem 2rem 1.5rem 2rem;
}
 
.bg-image-solar {
  background-image: url('/assets/img/solar-background.jpg');
  background-position: left;
  background-size: 300%;
}

.bg-image-wind {
  background-image: url('/assets/img/wind-background.jpg');
}

.bg-image-about {
  background-image: url('/assets/img/letterbox-background.png');
}

.bg-hills {
  margin-top: -8vw;
  background-size: 155%;
  height: 45vw;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat-y: no-repeat;
}

.bg-hills-home {
  background-image: url('/assets/img/tree-background.png');
}

.bg-hills-how {
  background-image: url('/assets/img/phone-background.png');
}

.bg-hills-mission {
  background-image: url('/assets/img/signs-background.png');
}

.bg-hills-plans {
  background-image: url('/assets/img/dog-background.png');
  margin-top: -21vw;
}

.bg-hills-about {
  background-image: url('/assets/img/letterbox-background.png');
  margin-top: -21vw;
}

.bg-hills-register {
  background-image: url('/assets/img/hand-up-background.png');
  margin-top: -21vw;
}

.p-site-head  {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-site-last {
  padding-bottom: 0;
}

.col-image {
  padding-left: 4rem;
  padding-right: 4rem;
}


h2, .h2, blockquote, .blockquote {
  font-size: $h2-font-size-md;
  margin-bottom: 0.8rem;
}

p a:not(.btn) {
  text-decoration: underline;
}

blockquote, .blockquote, .blockquote-white {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.blockquote-white {
  color: white;
}

.tx-center {
  text-align: center;
}

.icon-solution {
  max-width: 120px;
  max-height: 120px;
}

.container-icon {
  height: 155px;
}

.container-icon-hor {
  height: 100px;
}

.footer-image {
  max-width: 350px;
}

.amount-picker, .amount-picker-input {
  background-color: white;
  font-size: 2rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #d4cccc;
  font-weight: 600;

  label {
    font-size: 1rem;
    font-weight: 600;
  }

  &.selected {
    box-shadow: 0 0 0 0.2rem #013EA6;
    background-color: #9DEAFE;
    border-color: #013EA6;
  }


}

.amount-picker-input {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: map-get($grid-breakpoints, "sm")) { 

  .bg-image, .bg-image-solar, .bg-image-wind {
    background-position: left;
    background-size: 143%;
    padding: 5rem 5rem 4rem 5rem;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: map-get($grid-breakpoints, "md")) { 
  .bg-hills {
    margin-top: -32vw;
    background-size: 1000px;
  }

  .bg-hills-how, .bg-hills-about, .bg-hills-register {
    margin-top: -26vw;
  }

  .bg-hills-mission {
    margin-top: -20vw;
  }

  .bg-hills-plans {
    margin-top: -22vw;
  }

  .pt-top-section-lg {
    padding-top: 8vw;
  }

  .col-image {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .amount-picker, .amount-picker-input {
    padding: 2rem;
  }

  .amount-picker-input {
    padding: 0 1rem 1.7rem 1rem;
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) { 
  .p-site-head {
    padding: 6rem;;
  }

  .p-site, .p-site-last {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
  }

  .bg-image, .bg-image-solar, .bg-image-wind {
    background-position: 50%;
    background-size: cover;
    padding: 5rem 5rem 4rem 5rem;
  }

  .p-site-last {
    padding-bottom: 0;
  }

  .bg-hills  {
    background-size: 1200px;
  }

  .bg-hills-plans {
    margin-top: -26vw;
  }

  .col-image {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: map-get($grid-breakpoints, "xl")) { 
  h2, .h2, blockquote, .blockquote  {
  font-size: $h2-font-size;
  }

  .bg-hills {
    background-size: 1400px;
  }
}
