<div class="group--grey-dark">
  <div class="section--rev_end_desk">
    <div class="column--flex-row">
      <div class="profile">
        <img src="{{ '/assets/img/profile_david.png' | fingerprint }}" alt="David Herse" class="profile__img"/>
        <p>David Herse</p>
        <div class="profile__social">
          <a href="https://twitter.com/DavidHerse"><img src="{{ '/assets/img/twitter-square-white.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href="https://medium.com/@davidherse"><img src="{{ '/assets/img/medium-white.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>
      <div class="profile">
        <img src="{{ '/assets/img/profile_greg.png' | fingerprint }}" alt="Greg Le Sueur" class="profile__img"/>
        <p>Greg Le Sueur</p>
        <div class="profile__social">
          <a href="https://twitter.com/GregLeSueur"><img src="{{ '/assets/img/twitter-square-white.svg' | fingerprint }}" alt="Twitter" width="19"/></a>
          <a href="https://medium.com/@greglesueur"><img src="{{ '/assets/img/medium-white.svg' | fingerprint }}" alt="Medium" width="19"/></a>
        </div>
      </div>
    </div>

    <div class="column--header">
      <h1 class="callout__h1">Industry professionals</h1>
      <p>Dave and Greg have a combined experience of over 15 years in product development. Using their practical industry experience of Jobs-to-be-Done, they’ll take you step-by-step on how to turn your Jobs-to-be-Done interviews into successful products.</p>
    </div>
  </div>
</div>
