<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/privacy-and-terms" class="nav-link">Privacy and Terms</a></li>
      <li class="nav-item"><a href="/ethics-and-transparency" class="nav-link">Ethics and Transparency</a></li>
      <li class="nav-item"><a href="/how-crowd-source-equity-works" class="nav-link">How Crowd Source Equity Works</a></li>
      <li class="nav-item"><a href="/credits" class="nav-link">Credits</a></li>
      <li class="nav-item"><p class="nav-link">© Let’s Make One Pty Ltd</p></li>
    </ul>
  </div>
</footer>
