<!-- Start of Async Drift Code -->
<script>
// !function() {
//   var t;
//   if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
//   t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
//   t.factory = function(e) {
//     return function() {
//       var n;
//       return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
//     };
//   }, t.methods.forEach(function(e) {
//     t[e] = t.factory(e);
//   }), t.load = function(t) {
//     var e, n, o, i;
//     e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
//     o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
//     n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
//   });
// }();
// drift.SNIPPET_VERSION = '0.3.1';
// drift.load('mwhzfabmr57p');
</script>
<!-- End of Async Drift Code -->

<script>
  var ready = function() {
  (function() {
    var menutoggleElem = document.getElementById('menutoggle');
    var menuId = menutoggleElem.dataset.target;
    var menuElem = document.getElementById(menuId);
    var bodyElem = document.getElementsByTagName('body')[0];

    var isOpen = false;
    var closeTriggered = false;

    bodyElem.addEventListener('click', function(e) {
      if(isOpen) {
        menuElem.classList.remove('open');
        menutoggleElem.classList.remove('open');
        isOpen = false;
        closeTriggered = true;
      }
      setTimeout(function() {
        closeTriggered = false;
        console.log(closeTriggered);
      })
    }, true);

    menutoggleElem.addEventListener('click', function(e) {
      if(!isOpen && closeTriggered == false) {
        menuElem.classList.add('open');
        menutoggleElem.classList.add('open');
        isOpen = true;
      } else {
        closeTriggered = false;
      }
    });

  }());


  
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
