<!-- Start of Async Drift Code -->
<script>
// !function() {
//   var t;
//   if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
//   t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
//   t.factory = function(e) {
//     return function() {
//       var n;
//       return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
//     };
//   }, t.methods.forEach(function(e) {
//     t[e] = t.factory(e);
//   }), t.load = function(t) {
//     var e, n, o, i;
//     e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
//     o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
//     n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
//   });
// }();
// drift.SNIPPET_VERSION = '0.3.1';
// drift.load('mwhzfabmr57p');
</script>
<!-- End of Async Drift Code -->

<script>
  $(function() {
      var $amountHidden = $('#amountHidden');
      var $other = $('#amountOther');
      var $previousSelection = $('[data-amount]').first();


      $('[data-amount]').on('click', function(e){
        $previousSelection.removeClass('selected');
        $previousSelection = $(e.target);
        $amountHidden.val($previousSelection.data('amount'));
        $previousSelection.addClass('selected');
        $other.val('');
      });

      $other.on('input', function(e){
        $previousSelection.removeClass('selected');
        $amountHidden.val($(e.target).val());
      });     
   

    // $(document).on('ready', ready);
    // $(document).on('page:load', ready);

  }());
</script>

<script>

$(function() {
  var $form = $('#Register');
  var $submitButton = $('#RegisterSubmit');
  var $errorResponse = $('#ErrorResponse');
  var $successResponse = $('#SuccessResponse');
  var $registerBlock = $('#RegisterBlock');
  var $thankyouBlock = $('#thankyouBlock');
  var submitButtonDefaultValue = $submitButton.val();
  var fnames = new Array(); 
  var ftitle = new Array();

  fnames[0]='EMAIL';
  ftitle[0]='Email';
  fnames[2]='FNAME';
  ftitle[2]='Full Name';
  fnames[3]='AMOUNT';
  ftitle[3]='Amount';
  fnames[4]='OTHERINT';
  ftitle[4]='Amount';

  function onSuccess(msg) {
    $successResponse.find('.message').html(msg);
    $successResponse.removeClass("d-none");
    $registerBlock.addClass("d-none");
    $thankyouBlock.removeClass("d-none");

    $(':input','#Register').not(':button, :submit, :reset, :hidden')
      .val('')
      .prop('checked', false)
      .prop('selected', false);
  }

  function onValidationError(response) {
    $('#' + response.fieldName).addClass('is-invalid');
    $('#' + response.fieldName + '-error').html(response.msg);

    $errorResponse.find('.message').html('Please check the ' + response.fieldTitle + ' field is valid.');
    $errorResponse.removeClass("d-none");
  }

  function onRejected(msg) {
    $errorResponse.html(msg);
    $errorResponse.removeClass("d-none");
  }

  function onComplete(data) { 
    setLoadIndicator(false);

    if (data.result === "success") {
      onSuccess(data.msg);
    } else {
       var msg = data.msg.split(' - ');

      if(msg.length > 1) {
        onValidationError({
          fieldName: fnames[msg[0]],
          fieldTitle: ftitle[msg[0]],
          msg: msg[1]
        })
      } else {
        onRejected(data.msg);
      }
    }
  }

  function setLoadIndicator(state) {
    $submitButton.attr("disabled", state);
    $('.response').addClass('d-none');
    $('.is-invalid').removeClass('is-invalid');

    if(state === true) {
      $successResponse.find('.message').html('');
      $errorResponse.find('.message').html('');
      $submitButton.val('Sending...');
    } else {
      $submitButton.val(submitButtonDefaultValue);
    }
  }

  function submitForm($form) {
    setLoadIndicator(true);

    $.ajax({
      type: $form.attr('method'),
      url: $form.attr('action').replace('/post?', '/post-json?').concat('&c=?'),
      data: $form.serialize(),
      timeout: 5000, // Set timeout value, 5 seconds
      cache       : false,
      dataType    : 'jsonp',
      contentType: "application/json; charset=utf-8",
      error       : function(err) { },
      success     : onComplete
    });

  }

  if ( $form.length > 0 ) {
    $('form input[type="submit"]').on('click', function ( event ) {
      if ( event ) event.preventDefault();
      submitForm($form);
    });
  }
}());
</script>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
