$primary:       #803D85;
$secondary:     #FFDEA6;
$light:         #FAF8F2;
$dark:          #818DAC;

$btn-border-radius:           1.25rem !default;
$btn-border-radius-lg:        1.3rem !default;
$btn-border-radius-sm:        1.2rem !default;

$font-family-sans-serif:  'Montserrat', sans-serif;

$headings-font-weight: 600;

$body-color: #494562;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.3;
$h2-font-size:                $font-size-base * 1.8;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$h1-font-size-md:                $h1-font-size / 1.2;
$h2-font-size-md:                $h3-font-size / 1.2;
$h3-font-size-md:                $h3-font-size / 1.2;
$h4-font-size-md:                $h4-font-size / 1.2;
$h5-font-size-md:                $h5-font-size / 1.2;
$h6-font-size-md:                $h6-font-size;

$grid-gutter-width:   50px;
