---
layout: default
---
<div class="group--white">
  {% include components/nav/index.html %}

  <div class="section">
    <div class="column--header">
      <h1 id="register" class="header__h1">We believe great products come from understanding the Job a person is hiring a product or service to do.</h1>
      <p class="header__p">Our experience uncovering innovation in the products and services we created lead us to Jobs-to-be-Done theory. We found the approach offers more targeted insight into peoples struggles. This opened up the potential for better solutions and ultimately product success. We'd like to share what we've learned. <br>- <i>Dave and Greg</i></p>
      <p><a href="/contact" class="button">Contact Us</a></p>
    </div>

    <div class="column--header">
      <img src="{{ '/assets/img/jtbd_seminar.png' | fingerprint }}" class="header__img" alt=""/>
      <img src="{{ '/assets/img/jtbd_seminar_02.png' | fingerprint }}" class="header__img" alt=""/>
    </div>
  </div>
</div>

{% include components/profiles/index.html %}

<div class="group--grey-light">
  {% include components/cta/index.html %}
</div>
