---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col">
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>Meet the team</h2>
        <p>We are a group of concered people that want to see change in the world. We believe we can use our skills and the skills of other specilists to solve the big envrionmental and social issues.</p>
        <p>You can contact us at <a href="" id="emailAddress"></a>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="{{ '/assets/img/david-herse.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded-circle" alt="Photo of David Herse"/>
    </div>
    <div class="col-md pr-md-0">
      <h5>David Herse - Director</h5>
      <p>David has over 20 years experience in product development, customer research, technology, marketing, and management. He’s spent the last 7 years helping to scaling businesses like everydayhero.com and fivegoodfriends.com.au. David’s pasion is turning ideas into reality to keep the world sustainable, beautiful and liveable for everyone. </p> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img src="{{ '/assets/img/damien-herse.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded-circle" alt="Photo of Damien Herse"/>
    </div>
    <div class="col-md pr-md-0">
      <h5>Damien Herse - Creative Advisor</h5>
      <p>Damien is a founding partner and Content Director for Smoke, a creative production house specialising in Content Strategy, Development, Creation & Amplification. With experience spanning Design, Advertising and Production, Damien’s interest in moving pictures began to mature as an advertising creative telling short stories. Over the years Damien has worked with a diverse range of brands from Tesla, Subway, Griffith University and the Queensland & Federal Governments.</p> 
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-about"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-white p-5">
          <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
          <footer>
            <cite> - Margaret Mead</cite>
          </footer>
        </blockquote>
      </div>
      <p>
        <a class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
