---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col">
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>About Us</h2>
        <p>People are capable of extraordinary things when they have a purpose, vision and the means. In our careers, we've seen first hand what a group of commited people can achieve. We've seen businesses grow from nothing into industry disruptors in a few years. We've seen the power of committed people supporting a cause they believe in.</p>

        <p>Our core experience is researching, creating, and scaling great businesses. It's what we know and do. So, we asked ourselves, why can't we use our skills to create sustainable, environmentally and socially positive businesses? Why can't we use the power of consumer choice and innovation to make a big measurable impact on the environment and social justice? Why can't we create a business that enables everyone to take direct action?</p>

        <p>That's how the idea of Let's Make One was born. The idea of empowering ourselves to change the world. To bring our resources and purpose together for a common goal. To make a future we want.</p>

        <p>A better world – let’s make one.</p>

        <p>You can contact us at <a href="" id="emailAddress"></a>.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pb-0 pb-md-4">
      <img src="{{ '/assets/img/david-herse.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded-circle profile-img" alt="Photo of David Herse"/>
    </div>
    <div class="col-md pr-md-0 pb-4">
      <h5>David Herse – Director</h5>
      <p>David has over 20 years of experience in product development, customer research, technology, marketing, and management. He’s spent the last 7 years helping to scale businesses like everydayhero.com and fivegoodfriends.com.au. David’s passion is turning ideas into reality to keep the world sustainable, beautiful and liveable for everyone.</p> 
    </div>
  </div>

<div class="row">
    <div class="col-md-3 pb-0 pb-md-4">
      <img src="{{ '/assets/img/lis-dingjan.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded-circle profile-img" alt="Photo of Lis Dingjan"/>
    </div>
    <div class="col-md pr-md-0 pb-4">
      <h5>Lis Dingjan - Envrionmental Advisor</h5>
      <p>Lis has a background in international law amd development. She has spent years in the field in rural Cambodia working on issues across education, gender equity, poverty, and environmentalism. She works deep in the weeds of strategy, service design, design & systems thinking, and innovation along with consulting and upskilling departments through sustainable design methodology.</p> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 pb-0 pb-md-4">
      <img src="{{ '/assets/img/damien-herse.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded-circle profile-img" alt="Photo of Damien Herse"/>
    </div>
    <div class="col-md pr-md-0 pb-4">
      <h5>Damien Herse – Creative Advisor</h5>
      <p>With a background in Design, Marketing and Production, Damien has over 25 years experience asking awkward questions, challenging the way things are done and distilling creative and business challenges into actionable ideas. Damien is a creative problem solver who has worked with innovation companies including Tesla, as well as government departments working in health, energy and natural resources.</p> 
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-about"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-white p-5">
          <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
          <footer>
            <cite> - Margaret Mead</cite>
          </footer>
        </blockquote>
      </div>
      <p>
        <a class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
