---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col-md">
      <h2>How we work</h2>
      <ol>
        <li>
          <p><b>Raise Investment:</b> We collect thousands of small investments from people like you using equity crowd funding – which is a way for business to sell shares to the public.</p>
        </li>
        <li>
          <p><b>Research:</b> We form an expert team to research ideas, products, innovations, markets. We figure out the best way to make the biggest impact profitably.</p>
        </li>
        <li>
          <p><b>Vote:</b> We present business plans for the most promising solutions to you our investors and you get to vote on your preferred direction.</p>
        </li>
        <li>
          <p><b>Test:</b> We start a pilot project and test the chosen idea is viable, feasible, desirable and sustainable.</p>
        </li>
        <li>
          <p><b>Scale:</b> If the pilot is successful, we create a subsidiary business and scale it.</p>
        </li>
        <li>
          <p><b>Pay:</b> When the business is making sustainable profits, we pass them back to you.</p>
        </li>
        <li>
          <p><b>Repeat:</b> Then, we do it again.</p>
        </li>
      </ol>
    </div>
    <div class="col-md d-none d-md-block">
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/money-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration of piles of coins."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/brain-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration or brain."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/heart-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration heart inside a speach bubble."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/beaker-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration a beaker."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/chart-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration a chart."/>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-how"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-secondary p-5">
          <p>“The people have the power. All we have to do is awaken the power in the people”</p>
          <footer>
            <cite> - John Lennon</cite>
          </footer>
        </blockquote>
      </div>
      <p>
        <a href="" class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
