---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col-md">
      <h2>Let's invest in our future.<br>Let’s make a difference.</h2>
      <p>We believe dramatic action needs to be taken in the next decade. Our mission is to create profitable environmentally and socially positive solutions. Solutions that have a big measurable impact. You can help with small investments starting from just $50. A better world – let’s make one.</p>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-home"></div>
<div class="container-fluid p-0 bg-white">
  <div class="container p-site">
    <div class="row">
      <div class="col-md order-md-last">
        <h2>Alone we are powerless.<br>Together we are a force.</h2>
        <p>We channel thousands of small investments from people like you to tackle the big problems. Problems like climate change and social injustice. As an investor, you'll own shares in the Let’s Make One company. You’ll get a say in the direction and challenges we take on. When the business is making sustainable profits, we pass them back to you.</p>
      </div>
      <div class="col-md order-md-first mt-lg-n5 pb-5">
        <img src="{{ '/assets/img/hands-clap.png' | fingerprint }}" class="container col-image" alt="Illustration of two hands high fiving."/>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-white">
  <div class="container p-site-last">
    <div class="row">
      <div class="col-md pb-5">
        <h2>Join the impact business where success is win-win.</h2>
        <p>We are bound by our manifesto and code of ethics requiring positive environmental and social impact. We believe that if the business wins so should the ecosystem, people and you.</p>
      </div>
      <div class="col-md mt-lg-n5 d-flex align-items-end">
        <img src="{{ '/assets/img/hand-up.png' | fingerprint }}" class="container col-image" alt="Illustration of hand raised in the air with ballons on either side."/>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-image-solar">
    <div class="container p-site">
      <blockquote class="blockquote">
        <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
        <footer>
          <cite> – Margaret Mead</cite>
        </footer>
      </blockquote>
    </div>
</div>
<div class="container-fluid p-0 bg-secondary">
  <div class="container p-site">
    <div class="tx-center pt-5 pb-3 pl-2 pr-2">
      <h2>Problems are easier when you have friends</h2>
      <p>We need your help to create a dramatic positive environmental and social impact in the next decade. We want to create solutions that are easy for everyone to take up and make a huge change with the way things are done. We have great minds researching viable business cases in the following areas.</p>
    </div>
 
    <div class="row row-cols-2 row-cols-sm-4 pl-lg-0 pr-lg-0 pl-md-5 pr-md-5">
      <div class="col tx-center">
        <div class="container-icon d-flex justify-content-center align-items-center">
          <img src="{{ '/assets/img/extraction-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration arrow pointing down from a dark cloud."/>
        </div>
        <h6>Reducing carbon emissions.</h6>
      </div>
      <div class="col tx-center">
        <div class="container-icon d-flex justify-content-center align-items-center">
          <img src="{{ '/assets/img/renewable-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration spiralling wind."/>
        </div>
        <h6>Increasing renewable energy sources.</h6>
      </div>
      <div class="col tx-center">
        <div class="container-icon d-flex justify-content-center align-items-center">
          <img src="{{ '/assets/img/electric-vehicals-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration of car with headlights on."/>
        </div>
        <h6>Increasing electric & zero-carbon vehicles.</h6>
      </div>
      <div class="col tx-center">
        <div class="container-icon d-flex justify-content-center align-items-center">
          <img src="{{ '/assets/img/plastic-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration if plastic drink cup and straw."/>
        </div>
        <h6>Reducing single-use plastic & improving recycling.</h6>
      </div>
    </div>
    <div class="tx-center pt-5 pb-5 pl-4 pr-4">
      <p>
        <a class="h5" href="project-plans">Read more about our project plans →</a>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid bg-image-wind">
    <div class="container p-site">
      <blockquote class="blockquote-white">
        <p>“The people have the power. All we have to do is awaken the power in the people”</p>
        <footer>
          <cite> – John Lennon</cite>
        </footer>
      </blockquote>
    </div>
</div>

<div class="container-fluid p-4 bg-dark">
  <div class="row tx-center">
    <div class="col pt-5 pb-2">
      <p>
        <a class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
