---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col-md">
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>Our Mission</h2>
        <h5>Measurable positive impact for the environment and people through sustainably profitable business.</h5>
      </div>

      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>Our Values</h2>
        <p><span class="font-weight-bold">Sustainability</span> of the environment.</p>
        <p><span class="font-weight-bold">Equity</span> for people.</p>
        <p><span class="font-weight-bold">Intergrity</span> in ourselves, our business and our partners. </p>
        <p><span class="font-weight-bold">Creativity</span> and new solutions to hard problems.</p>
      </div>

      <div class="container-fluid pr-0 pl-0 pb-4">
        <p>Please read more about our manifesto, code of ethic and transparency on our <a href="/ethics-and-transparency" class="font-weight-bold">Ethics and Transparency</a> section.</p>
      </div>
    </div>
    <div class="col-md d-none d-md-block">
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/chart-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration a chart."/>
      </div>

      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/heart-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration heart inside a speach bubble."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/beaker-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration a beaker."/>
      </div>
      <div class="container-icon-hor d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/brain-dark.svg' | fingerprint }}" class="icon-solution" alt="Illustration or brain."/>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-mission"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-white p-5">
          <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
          <footer>
            <cite> - Margaret Mead</cite>
          </footer>
        </blockquote>
      </div>
      <p>
        <a href="" class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
