---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col">
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>Our Project Plans</h2>
        <p>We’ve got some very ambitious goals. Together we can create a dramatic and positive impact in the next decade. We plan to create businesses that:</p>
        <ul class="font-weight-bold">
          <li>Speed up consumer uptake in sustainable products and services.</li>
          <li>Commercialise sustainable innovations and technology.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <img src="{{ '/assets/img/renewable.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded" alt="photo of silhouetted woman at sunset with a wind turbine in the background"/>
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h5>Speed up the uptake of renewable energy to 50-70% of our energy mix globally by 2030.</h5>  
        <p>Electricity generation is globally the biggest contributor to CO2 emissions. Consumers are looking for alternatives as electricity prices increase. There are no technical barriers to achieving secure, reliable power from a very high proportion of renewable energy. Let’s Make One is working to overcoming the consumer and business barriers to dramatically increase the uptake of renewable and stimulate a large renewable market.</p> 
      </div>
    </div>
    <div class="col">
        <img src="{{ '/assets/img/ev.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded" alt="Photo of electric car being charged."/>
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h5>Speed up the uptake of electric and carbon-neutral vehicles to 50-70% of all vehicles globally by 2030.</h5>  
        <p>Transport is the second biggest polluter globally. Petrol and diesel vehicles are also inefficient with much of the energy being wasted as heat. Electric Cars (EV’s) today are meeting and exceeding the capabilities of petrol vehicles. Consumers want to buy EV’s but the purchasing cost and access to charging infrastructure holds them back. We have fresh ideas on this subject and are ready to pilot and test a business case.</p> 
      </div>
    </div>
    <div class="col">
        <img src="{{ '/assets/img/recycling.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded" alt="photo of hundreds of plastic bottles."/>
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h5>Increase the efficiency of recycling and improve the market for recycled material.</h5>  
        <p>From plastics bottles to clothes, manufacturing waste to household waste, there is some much more we could be reusing. Many countries haven’t scratched the surface on what needs to be done to solve the recycling problem. We believe there is an untapped market for recycled material using a combination of new recover techniques and fresh business thinking.</p> 
      </div>
    </div>
    <div class="col">
        <img src="{{ '/assets/img/plastic.png' | fingerprint }}" class="container p-0 mb-4 shadow rounded" alt="photo of a paper bag, a fabric bag and some fruit."/>
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h5>Remove the majority of single-use plastics from the consumer supply chain globally.</h5>  
        <p>Plastic waste is having a serious impact on our food chain, ecosystem and waterways. Single-use plastic is one of the worst offenders. Consumer studies show that given a viable alternative, people are happy to do away with plastic. Let’s Make One is looking at ways to scale alternative, sustainable packaging or and deliver methods that reduce the need for packaging on a massive scale.</p> 
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 bg-hills bg-hills-plans"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-white p-5">
          <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
          <footer>
            <cite> - Margaret Mead</cite>
          </footer>
        </blockquote>
      </div>
      <p>
        <a class="btn btn-secondary" href="/register" role="button">Register your interest to invest</a>
      </p>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>
