---
layout: default
---

<div class="container p-site-head pt-top-section-lg">
  <div class="row">
    <div class="col">
      <div class="container-fluid pr-0 pl-0 pb-4">
        <h2>Register your interest to invest.</h2>
        <p>We won’t be taking any just money yet. We need <span class="font-weight-bold">2000 people</span> to commit to an an average of <span class="font-weight-bold">$200</span> before we’ll open up the public share offering. <span class="font-weight-bold">Please tell your friends, tell your neighbours, tell eveyone. </span>Together is how we are going to solve the big issues.</p>
        <p>A better future – Let's make one.</p>
      </div>
    </div>
  </div>
    <div class="form-group row">
      <div class="col">
        <div class="container-fluid pr-0 pl-0 pb-0">
          <h6>How much would you like to invest?</h6>
          <div class="row pl-3 pr-3"> 
            <div class="col-md p-1">
              <button class="btn amount-picker" data-amount="50">$50</button>
            </div>
            <div class="col-md p-1">
              <button class="btn amount-picker" data-amount="200">$200</button>
            </div>
            <div class="col-md p-1">
              <button class="btn amount-picker" data-amount="400">$400</button>
            </div>
            <div class="col-md p-1">
              <div class="form-group amount-picker-input">
                <label for="amount-other">Other:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                  <input type="text" class="form-control" id="amountOther">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mc_embed_signup">
      <form action="https://letsmakeone.us4.list-manage.com/subscribe/post?u=9f537b1bdd24294b3b0b8ebe8&amp;id=658b4f421a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group row">
          <div class="col-md mc-field-group">
            <label for="full-name" class="font-weight-bold" >Full Name</label>
            <input type="text" class="form-control amount-input" id="full-name" name="FNAME">
          </div>
          <div class="col-md"></div>
        </div>
        <div class="form-group row">
          <div class="col-md mc-field-group">
            <label for="mce-EMAIL" class="font-weight-bold" >Email Address</label>
            <input type="email" value="" name="EMAIL" class="form-control amount-input" id="mce-EMAIL">
          </div>
           <div class="col-md"></div>
        </div>
        <div class="form-group row pt-2">
          <div class="col-md mc-field-group">
            <h6>Areas of interest</h6>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" id="CarbonReduction" value="2" name="group[67963][2]">
              <label class="form-check-label" for="CarbonReduction">Carbon Reduction</label>
            </div>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" value="4" name="group[67963][4]" id="RenewableEnergy">
              <label class="form-check-label" for="RenewableEnergy">Renewable Energy</label>
            </div>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" value="8" name="group[67963][8] id="ElectricCars">
              <label class="form-check-label" for="ElectricCars">Electric Vehicles</label>
            </div>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" value="16" name="group[67963][16]" id="PlasticReduction">
              <label class="form-check-label" for="PlasticReduction">Plastic Reduction</label>
            </div>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" value="32" name="group[67963][32]" id="Recycling">
              <label class="form-check-label" for="Recycling">Recycling</label>
            </div>
            <div class="pt-2 pb-2">
              <label for="OtherInterest">Other</label>
              <input class="form-control" type="input" value="" id="OtherInterest" name="OTHERINT">
            </div>
          </div>
           <div class="col-md"></div>
        </div>
        <div class="form-group row pt-2">
          <div class="col-md mc-field-group">
            <h6>Subscribe to updates</h6>
            <div class="form-check pt-2 pb-2">
              <input class="form-check-input" type="checkbox" value="" id="Update" name="group[67959][1]">
              <label class="form-check-label" for="Update">I want updates from Let’s Make One.</label>
            </div>
          </div>
        </div>
        <input id="amountHidden" type="hidden" value="" name="AMOUNT">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f537b1bdd24294b3b0b8ebe8_658b4f421a" tabindex="-1" value=""></div>
        <input type="submit" value="Register to invest" name="subscribe" class="btn btn-primary">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div> 
      </form>
    </div>
  </div>
<div class="container-fluid p-0 bg-hills bg-hills-register"></div>

<div class="container-fluid bg-dark mt-n1">
  <div class="row tx-center">
    <div class="col">
      <div class="container">
        <blockquote class="blockquote-white p-5">
          <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it's the only thing that ever has.”</p>
          <footer>
            <cite> - Margaret Mead</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row tx-center pb-5">
    <div class="col">
      <img src="{{ '/assets/img/hands-thumbs-up.png' | fingerprint }}" class="container footer-image" alt="Illustration hand giving the thumbs up."/>
    </div>
  </div>
</div>



